<form method="post" action="." href="/account/signup">
    <h2>Знаете ли вы:</h2>
    <div class="question">
        <span class="question-marker"><h2>Как развивается ваш малыш внутриутробно по неделям?</h2></span>
        <input type="checkbox" name="checks[]" id="Совсем не знаю 1" value="Совсем не знаю 1"><label for="Совсем не знаю 1"></label><p>Совсем не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 1" value="Немного знаю 1"><label for="Немного знаю 1"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 1" value="Хорошо знаю 1"><label for="Хорошо знаю 1"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 1" value="Отлично знаю 1"><label for="Отлично знаю 1"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как избавиться от тошноты по утрам?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 2" value="Не знаю 2"><label for="Не знаю 2"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 2" 2 value="Немного знаю 2"><label for="Немного знаю 2"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 2" value="Хорошо знаю 2"><label for="Хорошо знаю 2"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 2" value="Отлично знаю 2"><label for="Отлично знаю 2"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как принять себя во время гормональной перестройки?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 3" value="Не знаю 3"><label for="Не знаю 3"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 3" 2 value="Немного знаю 3"><label for="Немного знаю 3"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 3" value="Хорошо знаю 3"><label for="Хорошо знаю 3"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 3" value="Отлично знаю 3"><label for="Отлично знаю 3"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как правильно вести сексуальную жизнь в новой роли?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 4" value="Не знаю 4"><label for="Не знаю 4"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 4" 2 value="Немного знаю 4"><label for="Немного знаю 4"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 4" value="Хорошо знаю 4"><label for="Хорошо знаю 4"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 4" value="Отлично знаю 4"><label for="Отлично знаю 4"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Боитесь ли вы рожать?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 5" value="Не знаю 5"><label for="Не знаю 5"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 5" 2 value="Немного знаю 5"><label for="Немного знаю 5"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 5" value="Хорошо знаю 5"><label for="Хорошо знаю 5"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 5" value="Отлично знаю 5"><label for="Отлично знаю 5"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как видит новый мир ваш малыш?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 6" value="Не знаю 6"><label for="Не знаю 6"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 6" 2 value="Немного знаю 6"><label for="Немного знаю 6"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 6" value="Хорошо знаю 6"><label for="Хорошо знаю 6"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 6" value="Отлично знаю 6"><label for="Отлично знаю 6"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>С чего начинать грудное вскармливание ребёнка?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 7" value="Не знаю 7"><label for="Не знаю 7"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 7" 2 value="Немного знаю 7"><label for="Немного знаю 7"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 7" value="Хорошо знаю 7"><label for="Хорошо знаю 7"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 7" value="Отлично знаю 7"><label for="Отлично знаю 7"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Какие факторы окружающей среды могут способствовать возникновению аллергии у ребёнка?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 8" value="Не знаю 8"><label for="Не знаю 8"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 8" 2 value="Немного знаю 8"><label for="Немного знаю 8"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 8" value="Хорошо знаю 8"><label for="Хорошо знаю 8"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 8" value="Отлично знаю 8"><label for="Отлично знаю 8"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Какие выплаты и в каком размере вам полагаются от государства?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 9" value="Не знаю 9"><label for="Не знаю 9"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 9" 2 value="Немного знаю 9"><label for="Немного знаю 9"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 9" value="Хорошо знаю 9"><label for="Хорошо знаю 9"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 9" value="Отлично знаю 9"><label for="Отлично знаю 9"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Что такое гаптономия?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 10" value="Не знаю 10"><label for="Не знаю 10"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 10" 2 value="Немного знаю 10"><label for="Немного знаю 10"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 10" value="Хорошо знаю 10"><label for="Хорошо знаю 10"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 10" value="Отлично знаю 10"><label for="Отлично знаю 10"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как правильно питаться во время беременности и после?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 11" value="Не знаю 11"><label for="Не знаю 11"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 11" 2 value="Немного знаю 11"><label for="Немного знаю 11"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 11" value="Хорошо знаю 11"><label for="Хорошо знаю 11"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 11" value="Отлично знаю 11"><label for="Отлично знаю 11"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как избавиться от депрессии во время беременности и хорошо себя чувствовать?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 12" value="Не знаю 12"><label for="Не знаю 12"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 12" 2 value="Немного знаю 12"><label for="Немного знаю 12"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 12" value="Хорошо знаю 12"><label for="Хорошо знаю 12"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 12" value="Отлично знаю 12"><label for="Отлично знаю 12"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как избежать критических ошибок мам во время беременности и родов?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 13" value="Не знаю 13"><label for="Не знаю 13"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 13" 2 value="Немного знаю 13"><label for="Немного знаю 13"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 13" value="Хорошо знаю 13"><label for="Хорошо знаю 13"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 13" value="Отлично знаю 13"><label for="Отлично знаю 13"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как обращаться с новорожденным?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 14" value="Не знаю 14"><label for="Не знаю 14"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 14" 2 value="Немного знаю 14"><label for="Немного знаю 14"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 14" value="Хорошо знаю 14"><label for="Хорошо знаю 14"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 14" value="Отлично знаю 14"><label for="Отлично знаю 14"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как пережить кризис 1 года?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 15" value="Не знаю 15"><label for="Не знаю 15"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 15" 2 value="Немного знаю 15"><label for="Немного знаю 15"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 15" value="Хорошо знаю 15"><label for="Хорошо знаю 15"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 15" value="Отлично знаю 15"><label for="Отлично знаю 15"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как отличить лжесхватки от истинных?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 16" value="Не знаю 16"><label for="Не знаю 16"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 16" 2 value="Немного знаю 16"><label for="Немного знаю 16"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 16" value="Хорошо знаю 16"><label for="Хорошо знаю 16"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 16" value="Отлично знаю 16"><label for="Отлично знаю 16"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как получить ответы на эти и другие вопросы не выходя из дома?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 17" value="Не знаю 17"><label for="Не знаю 17"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 17" 2 value="Немного знаю 17"><label for="Немного знаю 17"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 17" value="Хорошо знаю 17"><label for="Хорошо знаю 17"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 17" value="Отлично знаю 17"><label for="Отлично знаю 17"></label><p>Отлично знаю</p>
    </div>

<button class="button-main lesson-submit">Отправить</button>
</form>