<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="lessons-main grid">
    <h1>Выбор курса</h1>
    <div class="progress-block grid">
        <h2>Файлы для скачивания</h2>

    </div>
    <div class="lesson-window grid">
        {% for c in coursefiles %}
            <a href="/media/{{ c.coursefile }}" download>{{ c }}</a>
        {% endfor %}
    </div>

</div>

{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>