<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

{% if course in permissions %}
    {% if lesson in progress %}
    <div class="lessonpage-main grid">
        <h1>{{ title }}</h1>
        <div class="pick-lesson">   
            <a href="../../../" class="button-main">К выбору уроков</a>
        </div>
        <div class="lessonpage-window grid">
            {% if pagenumber == 1 %}
                <a class="lesson-nav lesson-nav-left" href="../../../"></a>
            {% else %}
                <a class="lesson-nav lesson-nav-left" href="../{{ decrement }}"></a>
            {% endif %}
            <div class="lessonpage-content">
                {{ obj|safe }}
            </div>
            {% if obj == last_page %}
                <a class="lesson-nav lesson-nav-right" href="../../test/{{ test_id }}"></a>
            {% else %}
                <a class="lesson-nav lesson-nav-right" href="../{{ increment }}"></a>
            {% endif %}
            <div class="lessonpage-window-pages">
                <p>Вы на странице <b>{{ pagenumber }}</b></p>

                {% for p in pages %}
                    <a href="../{{ forloop.counter }}">{{ forloop.counter }}</a>
                {% endfor %}
                    <br><a class="lesson-nav" href="../../test/{{ test_id }}" style="width: 100%; height: 100%;">К тесту</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="lessonpage-main grid">
        <h1>{{ title }}</h1>
        <div class="pick-lesson">   
            <a href="../../../../" class="button-main">К выбору курсов</a>
        </div>
        <div class="lessonpage-window grid">
            <div class="lessonpage-content grid">
                <h2>Доступ закрыт</h2>
                <p>Для просмотра материалов пройдите предыдущий урок</p>
                <form action="../../../" method="get">
                    <button class="button-main">К выбору уроков</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
<div class="lessonpage-main grid">
    <h1>{{ title }}</h1>
    <div class="pick-lesson">   
        <a href="../../../../" class="button-main">К выбору курсов</a>
    </div>
    <div class="lessonpage-window grid">
        <div class="lessonpage-content grid">
            <h2>Доступ закрыт</h2>
            <p>Для просмотра материалов урока требуется приобретение курса</p>
            <form action="/#courses" method="get">
                <button class="button-main">Приобрести курс</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>