# sqlite database file
db.sqlite3
# virtual environment folder
venv/
# media folder
media/
# local settings
mamapapas/local_settings.py

# main cache
mamapapas/__pycache__

# apps migrations
answer/migrations
content/migrations
course/migrations
demo/migrations
faq/migrations
lesson/migrations
question/migrations
test/migrations
user/migrations
payment/migrations
review/migrations
uploads/migrations
coursefile/migrations

# apps cache
answer/__pycache__
content/__pycache__
course/__pycache__
demo/__pycache__
faq/__pycache__
lesson/__pycache__
question/__pycache__
test/__pycache__
user/__pycache__
payment/__pycache__
review/__pycache__
uploads/__pycache__
coursefile/__pycache__