{% extends 'my_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome, {{ user.username }}!
  <div class="link">
    <p><a href="{% url 'lk' %}">Все пользователи</a></p>
    <p><a href="{% url 'logout' %}">Выйти</a></p>
    <p><a href="{% url 'create' %}">Создать объявление</a></p>
    <p><a href="{% url 'all' %}">Все предложения</a></p>
    <p><a href="{% url 'lk_detail_view' user.id %}">Войти в личный кабинет</a></p>
  </div>
{% else %}
  <div class="link">
  <p>Вы не авторизированы</p>
  <a href="{% url 'login' %}">Войти</a> |
  <a href="{% url 'signup' %}">Зарегистрироваться</a><br><br>
Чтобы создавать обявления ввам необходимо <a href="{% url 'login' %}">войти в систему</a>
  </div>
{% endif %}
{% endblock %}