<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    {% if account.count > 0 %}
    <table>
        <tr><td>ID</td><th>Пользователь</th><th>Почта</th><th>Город</th><th>Компания</th><th>Аватар</th></tr>
        {% for prod in account %}
        <tr><td>{{ prod.id }}</td><td>{{ prod.username }}</td><td>{{ prod.email }}</td><td>{{ prod.city }}</td><td>{{ prod.company }}</td><td>{{ prod.avatar }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>