<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}
<html lang="ru">
{% include 'head.html' %}
<body>

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<header class="wow fadeIn grid" id="top">
    <div class="video-container-header">
        <video autoplay muted loop>
            <source src="{% static 'vid/header.mp4' %}" type="video/mp4">
        </video>
    </div>
    <h1>Добро пожаловать на mamapapas.club</h1>
    <form action="#about" method="get">
        <button class="button-main">Бесплатный урок</button>
    </form>
</header>

<div class="container-wrapper">
    <div class="wow fadeIn container grid" id="about">
        <h1>Что такое Мамапапас?</h1>
        <div class="icons-section grid">
            <p><img src="{% static 'img/icons/team-gray.svg' %}" alt=""> 3 уникальные программы, разработанные 8 специалистами</p>
            <p><img src="{% static 'img/icons/maternity-gray.svg' %}" alt=""> Подготовка к родам и беременности за 2 недели</p>
            <p><img src="{% static 'img/icons/24-hours-gray.svg' %}" alt=""> Поддержка 24/7 после родов и до 9 месяцев после покупки</p>
            <p><img src="{% static 'img/icons/lotus-gray.svg' %}" alt=""> Эксклюзивное ноу-хау в познании себя и малыша от эксперта из Израиля</p>
        </div>
        <div class="first-lesson-description">
            <ul>
                <li>Как наладить успешное грудное кормление?</li>
                <li>Какие специалисты работают в mamapapas.club?</li>
                <li>Как развивается малыш внутриутробно?</li>
                <li>Что такое онлайн-школа для беременных?</li>
                <li>Какой образ жизни ведет беременная?</li>
            </ul>
            <p>На эти и многие другие вопросы, вы найдёте ответы в нашем бесплатном уроке</p>
            <p>Скорее заполняйте бриф и добро пожаловать в семью mamapapas.club!<br>Оставляя данные, вы соглашаетесь с правилами обработки персональной информации</p>
        </div>

        <form class="feedback grid" id="free-lesson-form" action="." method="post">{% csrf_token %}
            {{ form|crispy }}
            <button class="button-main" style="margin-bottom: 13px;">Бесплатный урок</button>
        </form>
        <div class="video-container-about grid wow fadeIn" id="helloBlock">
            <video id="hello" src="{% static 'vid/Mamapapas.mp4' %}" poster="{% static 'img/transparent.png' %}"></video>
        </div>
        <div class="about-description grid">
            <form action="#courses">
                <button class="more"></button>
            </form>
        </div>
    </div>
</div>

<div class="container-wrapper">
    <div class="wow fadeIn container grid" id="courses">
        <div class="discount grid" id="discount">
            <div class="courses-images grid" style="grid-template-columns: repeat({{ courses.count }}, 1fr);">
                {% for c in courses %}
                    <div class="courses-images-item" style="background-image: url('/media/{{ c.preview }}')"></div>
                {% endfor %}
            </div>
            <h2>Успейте купить все курсы за <span style="text-decoration: line-through; color: #ff7469;">14999</span> <span style="background-color: #FDB2D5; padding: 5px;" class="discount-price">9999!</span></h2>

            {% if user.is_authenticated %}
                <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                    <input type="hidden" name="receiver" value="410016179694522">
                    <input type="hidden" name="formcomment" value="Оплата полного курса мамапапас">
                    <input type="hidden" name="short-dest" value="Оплата полного курса мамапапас, включающего курсы 'Беременность', 'Роды' и 'Новая жизнь'">
                    <input type="hidden" name="label" value="102030">
                    <input type="hidden" name="quickpay-form" value="donate">
                    <input type="hidden" name="targets" value="Полный курс мамапапас">
                    <input type="hidden" name="sum" value="8999" data-type="number">
                    <input type="hidden" name="comment" value="Для завершения операции обязательно нажмите на кнопку 'вернуться на сайт'!">
                    <input type="hidden" name="need-fio" value="true">
                    <input type="hidden" name="need-email" value="true">
                    <input type="hidden" name="need-phone" value="false">
                    <input type="hidden" name="need-address" value="false">
                    <input type="hidden" name="successURL" value="https://mamapapas.club/success/full_course/">
                    <label><input type="hidden" name="paymentType" value="PC"></label>
                    <label><input type="hidden" name="paymentType" value="AC"></label>
                    <button class="button-main">Купить</button>
                </form>
            {% else %}
                <form method="GET" action="/account/signup">
                    <input type="hidden" name="registerContext" value="*Перед покупкой курса необходима регистрация. Мы вернем вас на домашнюю страницу, где вы затем сможете выбрать нужный курс">
                    <button class="button-main">Купить</button>
                </form>
            {% endif %}
        </div>

        <h1>3 уникальные программы</h1>
        <div class="glide grid wow fadeIn">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for c in courses %}
                    <li class="glide__slide grid">

                        <div class="slide-el grid">
                            <div class="slide-icon" style="background-image: url('/media/{{ c.preview }}')"></div>
                            <h2>{{ c.title }}</h2>
                            {{ c.fulldescription|safe }}
                            <h2 style="margin-top: 50px;">Цена: <b>{{ c.price }}</b></h2>
                            {% if user.is_authenticated %}
                                <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                                    <input type="hidden" name="receiver" value="410016179694522">
                                    <input type="hidden" name="formcomment" value="Оплата курса мамапапас '{{ c.title }}'">
                                    <input type="hidden" name="short-dest" value="Оплата курса мамапапас '{{ c.title }}'">
                                    <input type="hidden" name="label" value="102030">
                                    <input type="hidden" name="quickpay-form" value="donate">
                                    <input type="hidden" name="targets" value="Курс '{{ c.title }}'">
                                    <input type="hidden" name="sum" value="{{ c.hidden_price }}" data-type="number">
                                    <input type="hidden" name="comment" value="Для завершения операции обязательно нажмите на кнопку 'вернуться на сайт'!">
                                    <input type="hidden" name="need-fio" value="true">
                                    <input type="hidden" name="need-email" value="true">
                                    <input type="hidden" name="need-phone" value="false">
                                    <input type="hidden" name="need-address" value="false">
                                    <input type="hidden" name="successURL" value="https://mamapapas.club/success/course{{ c.course_id }}/">
                                    <label><input type="hidden" name="paymentType" value="PC"></label>
                                    <label><input type="hidden" name="paymentType" value="AC"></label>
                                    <button class="button-main">Купить</button>
                                </form>
                            {% else %}
                                <form method="GET" action="/account/signup/">
                                    <input type="hidden" name="registerContext" value="*Перед покупкой курса необходима регистрация. Мы вернем вас на домашнюю страницу, где вы затем сможете выбрать нужный курс">
                                    <button class="button-main">Купить</button>
                                </form>
                            {% endif %}
                        </div>
                    </li>

                    {% endfor %}
                </ul>
            </div>

            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
            </div>

        </div>

    </div>
</div>

<div class="container-wrapper">
    <div class="wow fadeIn container grid" id="teachers">
        <h1>Наши преподаватели</h1>
        <div class="specialists grid">

            {% for t in teachers %}
            <div class="spec-wrapper grid">
                {% ifequal forloop.counter|modulo:2 0 %}
                <div class="spec grid wow fadeInRightBig">
                {% else %}
                <div class="spec grid wow fadeInLeftBig">
                {% endifequal %}
                    <div class="pic wow flipInY" data-wow-delay=".7s" style="background-image: url('/media/{{ t.photo }}')"></div>
                    <h3>{{ t.name }}</h3>
                    <h2>{{ t.specialization }}</h2>
                    {{ t.description|safe }}
                    {% if user.is_authenticated %}
                    <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать мне вопрос</a>
                    {% else %}
                    <a href="/account/signup/" class="button-main">Задать мне вопрос</a>
                    {% endif %}
                </div>
                {% ifequal forloop.counter|modulo:2 0 %}
                <div class="spec-icon wow fadeInLeftBig" style="background-image: url('/media/{{ t.icon }}')"></div>
                {% else %}
                <div class="spec-icon wow fadeInRightBig" style="background-image: url('/media/{{ t.icon }}')"></div>
                {% endifequal %}
            </div>
            {% endfor %}

        </div>
        <form action="#courses" class="discount-teachers">
            <button class="button-main">Приобрести курсы со скидкой</button>
        </form>
    </div>
</div>

<div class="container-wrapper">
    <div class="wow fadeIn container grid" id="reviews">
        <h1>Отзывы</h1>
        <div class="glide grid wow fadeIn">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">


                    {% for r in reviews %}
                    <li class="glide__slide grid">
                        <div class="slide-el grid">
                            <img src="/media/{{ r.preview }}" alt="Отзыв о mamapapas.club">
                        </div>
                    </li>
                    {% endfor %}


                </ul>
            </div>

            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
            </div>

        </div>

        <form action="#courses" class="discount-reviews">
            <button class="button-main">Приобрести курс</button>
        </form>

    </div>
</div>

<div class="container-wrapper">
    <div class="wow fadeIn container grid" id="faq">
        <h1>Остались вопросы?</h1>
        <div class="faq-content">
            {% for f in faqs %}
            <ul class="faqShow"><p>{{ f.question }}</p>
                <li class="faqAnswer"><p>{{ f.answer }}</p></li>
            </ul>
            {% endfor %}
        </div>
        <form action="#courses" class="gotop">
            <button></button>
        </form>
    </div>
</div>
<div class="container-wrapper">
{% block extra_js %}{% endblock extra_js %}
</div>

{% include 'footer.html' %}

</body>
</html>