<div class="popup popup-teacher" id="popup-privacy">
    <div id="popup-privacy-close" class="popup-close"></div>
    <a href="/privacy/">Ознакомиться с политикой конфиденциальности</a>
</div>

<div class="popup" id="popup-form">
    <div id="close-popup-form" class="popup-close"></div>
    <h2>Заполните форму</h2>
    <p>Напишите нам, мы свяжемся с вами и проконсультируем по всем вопросам</p>
    <form action="." class="grid">
        <input type="text" name="" id="" placeholder="Ваше имя">
        <input type="text" name="" id="" placeholder="Ваш телефон">
        <input type="button" value="Отправить" class="button-main">
    </form>
    <small>Нажимая на кнопку вы соглашаетесь <br>с <a href="#">Политикой конфиденциальности</a></small>
</div>

<div class="popup popup-teacher" id="popup-amshinskaya-monika">
    <div id="popup-amshinskaya-monika-close" class="popup-close"></div>
    <h1>Амшинская Моника Рафаэлевна</h1>
    <h2>Эксперт по грудному вскармливанию и уходу за ребенком</h2>
    <p>Беременность - это жизнь длиною в 9 месяцев, которая поменяет вашу жизнь и жизнь ваших близких на 180 градусов, но только в лучшую сторону.</p>
    <p>Так считает основатель онлайн - школы mamapapas.club, консультант по грудному вскармливанию и уходу за ребенком - Амшинская Моника Рафаэлевна.</p>
    <p>Монике Рафаэлевне 25 лет, и она мама 3 детей. По профессии Моника Рафаэлевна врач (лечебное дело), специалист по организации здравоохранения и здоровья. Окончила Первый Московский государственный медицинский университет имени И.М. Сеченова, а также консультант по грудному вскармливанию и уходу за ребенком, пройдя обучение АКЕВ (ассоциации консультантов естественного вскармливания).</p>
    <p>Свои знания она каждый день увеличивает, благодаря личному опыту и научной литературе.</p>
    {% if user.is_authenticated %}
        <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать вопрос</a>
    {% else %}
        <a href="/account/signup/" class="button-main">Задать вопрос</a>
    {% endif %}
</div>

<div class="popup popup-teacher" id="popup-popova-anna">
    <div id="popup-popova-anna-close" class="popup-close"></div>
    <h1>Попова Анастасия Юрьевна</h1>
    <h2>Юрист</h2>
    <p>Анна Евгеньевна - юрист с 12 - летним стажем и фанат своей профессии.</p>
    <p>Анна Евгеньевна училась у лучших преподавателей страны, а карьеру начинала с Газпром и министерства строительства.</p>
    <p>Уже 10 лет Анна Евгеньевна в частной юридической компании.</p>
    <p>Она участвовала почти в 3000 судебных заседаний.</p>
    <p>А также Анна Евгеньевна готовит диссертацию на тему прав мам и детей.</p>
    {% if user.is_authenticated %}
        <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать вопрос</a>
    {% else %}
        <a href="/account/signup/" class="button-main">Задать вопрос</a>
    {% endif %}
</div>

<div class="popup popup-teacher" id="popup-pashkovskaya-ksenia">
    <div id="popup-pashkovskaya-ksenia-close" class="popup-close"></div>
    <h1>Пашковская Ксения Викторовна</h1>
    <h2>Сертифицированный слингоконсультант</h2>
    <p>Ксения, 30 лет, мама двоих детей. Имеет высшее педагогическое образование. После рождения ребенка переквалифицировалась в Слингоконсультанта.</p>
    <p>Ксения обучает азам слингоношения, объясняет физиологичные особенности деток и как и в каких переносках можно их носить без вреда для здоровья.</p>
    <p>Также Ксения ведет свой блог и показывает на собственном опыте, как молодой маме расправить крылья в декрете, остаться мобильной и активной, успевать больше и при этом быть ближе к своему малышу.</p>
    <p>Личный опыт слингоношения более 5 лет.</p>
    <p>Опыт профессионального консультирования более 3 лет.</p>
    <p>2016 год - Практический курс «Тренинг для слингоконсультантов» по программе «Базовый курс», составленный по рекомендациям единой инструкции слингоношения «Лиги слингоконсультантов».</p>
    <p>2017 год – Получение Сертификата Слингоконсультанта. Обучение по программе Проекта ПроГВ, по материалам автора Ю.В.Фадеевой, Лиги слингоконсультантов и Союза профессиональной поддержки материнства.</p>
    {% if user.is_authenticated %}
        <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать вопрос</a>
    {% else %}
        <a href="/account/signup/" class="button-main">Задать вопрос</a>
    {% endif %}
</div>

<div class="popup popup-teacher" id="popup-popova-anastasia">
    <div id="popup-popova-anastasia-close" class="popup-close"></div>
    <h1>Попова Анна Евгеньевна</h1>
    <h2>Перинатальный психолог</h2>
    <p>Анастасия Юрьевна Попова - перинатальный, детский психолог. Шутя называет себя беременным друг.</p>
    <p>В 2013 году окончила Кузбасскую Государственную Педагогическую Академию, факультет психологии образования. Во время учебы курсовые и дипломную работы посвящала темам репродуктивного здоровья и психологического состояния беременных женщин.</p>
    <p>В 2014 году Анна Евгеньевна начала практику доабортного консультирования в онлайн проектах. А также занялась самообразованием в области перинатальной психологии. Став мамой и получив собственный опыт беременности, родов и материнства, она осуществила свою мечту - начала работать с беременными женщинами лично.</p>
    <p>В 2018 году Анна Евгеньевна прошла обучение в Восточно-Сибирской Академии подготовки государственных и муниципальных служащих по специальности "Перинатальный психолог. Социально - психологическое сопровождение беременности, родов и послеродового периода, женщин со сложностями в репродуктивной сфере", а также получила Сертификат наличия необходимых компетенций, установленных профессиональным стандартом <Психолог в социальной сфере>. Также постоянно проходит повышение квалификации в образовательных проектах Центра перинатальной психологии Марины Ланцбург.</p>
    {% if user.is_authenticated %}
        <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать вопрос</a>
    {% else %}
        <a href="/account/signup/" class="button-main">Задать вопрос</a>
    {% endif %}
</div>

<div class="popup popup-teacher" id="popup-alon-vanda">
    <div id="popup-alon-vanda-close" class="popup-close"></div>
    <h1>Алон Ванда</h1>
    <h2>Эксперт из Израиля по практике самопознания</h2>
    <p>Ванда Алон — эксперт из Израиля. По роду своей профессиональной деятельности сопровождает процессы самопознания и личностного роста. В нашей школе является коучем по беременности и родам.</p>
    <p>В своей практике широко использует методы из холистической медицины, из NLP. Использует практики для расширения сознания. Познакомит вас с медитациями, поможет на глубоком уровне осознать свое материнство.</p>
    {% if user.is_authenticated %}
        <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать вопрос</a>
    {% else %}
        <a href="/account/signup/" class="button-main">Задать вопрос</a>
    {% endif %}
</div>

<div class="popup popup-teacher" id="popup-bogush-olga">
    <div id="popup-bogush-olga-close" class="popup-close"></div>
    <h1>Богуш Ольга Сергеевна</h1>
    <h2>Акушер-гинеколог</h2>
    <p>Член «Ассоциации по заболеваниям шейки матки». Врачебный стаж с 2001 года.</p>
    <p>2001г. – окончила Рязанский государственный медицинский университет. Специальность- лечебное дело.</p>
    <p>2002г. – окончила интернатуру по специальности «Акушерство и Гинекология» На базе ГКБ №8 и родильного дома №4 г. Рязани.</p>
    <p>2006г. - повышение квалификации на базе Московского государственного медицинского университета им. И.М.Сеченова, г. Москва по специальности «Акушерство и гинекология».</p>
    <p>2009г. – первичная специализация по «Ультразвуковой диагностике» на базе ФГОУ "Институт повышения квалификации Федерального медико-биологического агентства" г. Москва.</p>
    <p>2013г. - повышение квалификации на базе ГБОУ ВПО МГМСУ им. А.Е. Евдокимова Минздрава России по специальности «Акушерство и гинекология (репродуктивная медицина и хирургия с курсом эндоскопии).</p>
    {% if user.is_authenticated %}
        <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать вопрос</a>
    {% else %}
        <a href="/account/signup/" class="button-main">Задать вопрос</a>
    {% endif %}
</div>

<div class="popup popup-teacher" id="popup-amshinskaya-jessika">
    <div id="popup-amshinskaya-jessika-close" class="popup-close"></div>
    <h1>Амшинская Джессика Рафаэлевна</h1>
    <h2>Врач дерматовенеролог</h2>
    <p>Аспирантка кафедры кожных и венерических болезней имени В.А. Рахманова Института клинической медицины ФГАОУ ВО Первый МГМУ им. Сеченова.</p>
    <p>В 2017г. окончила Первый МГМУ им. Сеченова, факультет лечебное дело, диплом специалиста (дневное отделение).</p>
    <p>В 2019г. окончила ординатуру, на кафедре Кожных и венерических болезней им. Рахманова, по специальности дерматовенерология.</p>
    <p>В 2019г. поступила на бюджетную очную форму аспирантуры кафедры кожных и венерических болезней имени В.А. Рахманова Института клинической медицины ФГАОУ ВО Первый МГМУ им. Сеченова.</p>
    <p>А также:
    <br>В апреле 2019г. прошла курс “Основы дерматоскопии” под эгидой Общества дерматоскопии и оптической диагностики кожи.
    </p>
    <p>В ноябре 2019 году прошла курсы медицинской косметологии в “Доме русской косметики”. Является победителем VIII конкурса на лучшую демонстрацию клинического случая 2018 года в рамках 127-го научного сезона МОДВ им. А.И. Поспелова.</p>
    <p>Публиковала статьи в журналах, входящих в перечень ВАК и SCOPUS.</p>
    <p>Является соорганизатором школы атопического дерматита для детей и их родителей на базе Университетской детской клинической больницы Первого МГМУ им И. М Сеченова.</p>
    {% if user.is_authenticated %}
        <a href="/dialogs/mamapapasclub@yandex.ru" class="button-main">Задать вопрос</a>
    {% else %}
        <a href="/account/signup/" class="button-main">Задать вопрос</a>
    {% endif %}
</div>