<div>
    <h2>Знаете ли вы:</h2>
    <div class="question">
        <span class="question-marker"><h2>С какого дня отсчитывается срок беременности?</h2></span>
        <input type="checkbox" name="checks[]" id="С первого дня последней менструации" value="С первого дня последней менструации"><label for="С первого дня последней менструации"></label><p>С первого дня последней менструации</p>
        <input type="checkbox" name="checks[]" id="Со дня овуляции" value="Со дня овуляции"><label for="Со дня овуляции"></label><p>Со дня овуляции</p>
        <input type="checkbox" name="checks[]" id="Со дня зачатия" value="Со дня зачатия"><label for="Со дня зачатия"></label><p>Со дня зачатия</p>
        <input type="checkbox" name="checks[]" id="С первого числа месяца, когда сделан тест на беременность" value="С первого числа месяца, когда сделан тест на беременность"><label for="С первого числа месяца, когда сделан тест на беременность"></label><p>С первого числа месяца, когда сделан тест на беременность</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как принять себя во время гормональной перестройки?</h2></span>
        <input type="checkbox" name="checks[]" id="Ровно девять месяцев" value="Ровно девять месяцев"><label for="Ровно девять месяцев"></label><p>Ровно девять месяцев</p>
        <input type="checkbox" name="checks[]" id="Срок недель плюс – минус пару дней" value="Срок недель плюс – минус пару дней"><label for="Срок недель плюс – минус пару дней"></label><p>Срок недель плюс – минус пару дней</p>
        <input type="checkbox" name="checks[]" id="От 38 до 42 недель" value="От 38 до 42 недель"><label for="От 38 до 42 недель"></label><p>От 38 до 42 недель</p>
        <input type="checkbox" name="checks[]" id="От 39 до 41 недели" value="От 39 до 41 недели"><label for="От 39 до 41 недели"></label><p>От 39 до 41 недели</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Какие витамины нужно пить до и во время беременности?</h2></span>
        <input type="checkbox" name="checks[]" id="Никакие, их эффективность не доказана" value="Никакие, их эффективность не доказана"><label for="Никакие, их эффективность не доказана"></label><p>Никакие, их эффективность не доказана</p>
        <input type="checkbox" name="checks[]" id="Только специальные витамины для беременности" value="Только специальные витамины для беременности"><label for="Только специальные витамины для беременности"></label><p>Только специальные витамины для беременности</p>
        <input type="checkbox" name="checks[]" id="Только фолиевую кислоту" value="Только фолиевую кислоту"><label for="Только фолиевую кислоту"></label><p>Только фолиевую кислоту</p>
        <input type="checkbox" name="checks[]" id="Любые поливитамины пойдут на пользу" value="Любые поливитамины пойдут на пользу"><label for="Любые поливитамины пойдут на пользу"></label><p>Любые поливитамины пойдут на пользу</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Почему у новорожденных бывают высыпания на коже, похожие на прыщи?</h2></span>
        <input type="checkbox" name="checks[]" id="Это называется младенческим акне и связано с материнскими гормонами" value="Это называется младенческим акне и связано с материнскими гормонами"><label for="Это называется младенческим акне и связано с материнскими гормонами"></label><p>Это называется младенческим акне и связано с материнскими гормонами</p>
        <input type="checkbox" name="checks[]" id="Это аллергия, она появляется, когда мать ест запрещенные продукты и кормит грудью" value="Это аллергия, она появляется, когда мать ест запрещенные продукты и кормит грудью"><label for="Это аллергия, она появляется, когда мать ест запрещенные продукты и кормит грудью"></label><p>Это аллергия, она появляется, когда мать ест запрещенные продукты и кормит грудью</p>
        <input type="checkbox" name="checks[]" id="Это результат плохой гигиены – возможно, в роддоме ребенка потрогали грязными руками" value="Это результат плохой гигиены – возможно, в роддоме ребенка потрогали грязными руками"><label for="Это результат плохой гигиены – возможно, в роддоме ребенка потрогали грязными руками"></label><p>Это результат плохой гигиены – возможно, в роддоме ребенка потрогали грязными руками</p>
        <input type="checkbox" name="checks[]" id="Это из-за того, что ребенок провел девять месяцев в водной среде и его кожа раздражена" value="Это из-за того, что ребенок провел девять месяцев в водной среде и его кожа раздражена"><label for="Это из-за того, что ребенок провел девять месяцев в водной среде и его кожа раздражена"></label><p>Это из-за того, что ребенок провел девять месяцев в водной среде и его кожа раздражена</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>В какой воде нужно купать младенца?</h2></span>
        <input type="checkbox" name="checks[]" id="При температуре не выше 26 градусов, иначе у ребенка будет тепловой удар" value="При температуре не выше 26 градусов, иначе у ребенка будет тепловой удар"><label for="При температуре не выше 26 градусов, иначе у ребенка будет тепловой удар"></label><p>При температуре не выше 26 градусов, иначе у ребенка будет тепловой удар</p>
        <input type="checkbox" name="checks[]" id="Первое купание должно быть при температуре 21 градус" value="Первое купание должно быть при температуре 21 градус"><label for="Первое купание должно быть при температуре 21 градус"></label><p>Первое купание должно быть при температуре 21 градус</p>
        <input type="checkbox" name="checks[]" id="36-37 считается наиболее подходящей для младенца" value="36-37 считается наиболее подходящей для младенца"><label for="36-37 считается наиболее подходящей для младенца"></label><p>36-37 считается наиболее подходящей для младенца</p>
        <input type="checkbox" name="checks[]" id="Вода такой температуры, которой мама мылась во время беременности, поскольку ребенок привык к этому" value="Вода такой температуры, которой мама мылась во время беременности, поскольку ребенок привык к этому"><label for="Вода такой температуры, которой мама мылась во время беременности, поскольку ребенок привык к этому"></label><p>Вода такой температуры, которой мама мылась во время беременности, поскольку ребенок привык к этому</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Сколько сумок желательно приготовить в роддом?</h2></span>
        <input type="checkbox" name="checks[]" id="1" value="1"><label for="1"></label><p>1</p>
        <input type="checkbox" name="checks[]" id="3" value="3"><label for="3"></label><p>3</p>
        <input type="checkbox" name="checks[]" id="6" value="6"><label for="6"></label><p>6</p>
        <input type="checkbox" name="checks[]" id="2" value="2"><label for="2"></label><p>2</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>В каких продуктах содержится фолиевая кислота, так необходимая беременным?</h2></span>
        <input type="checkbox" name="checks[]" id="Шоколад и печенье" value="Шоколад и печенье"><label for="Шоколад и печенье"></label><p>Шоколад и печенье</p>
        <input type="checkbox" name="checks[]" id="Морепродукты и рыба" value="Морепродукты и рыба"><label for="Морепродукты и рыба"></label><p>Морепродукты и рыба</p>
        <input type="checkbox" name="checks[]" id="Петрушка и печень" value="Петрушка и печень"><label for="Петрушка и печень"></label><p>Петрушка и печень</p>
        <input type="checkbox" name="checks[]" id="Яблоки и клубника" value="Яблоки и клубника"><label for="Яблоки и клубника"></label><p>Яблоки и клубника</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Когда формируется пол ребенка в утробе матери?</h2></span>
        <input type="checkbox" name="checks[]" id="Через неделю после зачатия" value="Через неделю после зачатия"><label for="Через неделю после зачатия"></label><p>Через неделю после зачатия</p>
        <input type="checkbox" name="checks[]" id="До зачатия" value="До зачатия"><label for="До зачатия"></label><p>До зачатия</p>
        <input type="checkbox" name="checks[]" id="Через месяц после зачатия" value="Через месяц после зачатия"><label for="Через месяц после зачатия"></label><p>Через месяц после зачатия</p>
        <input type="checkbox" name="checks[]" id="В момент зачатия" value="В момент зачатия"><label for="В момент зачатия"></label><p>В момент зачатия</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Партнер на родах должен иметь с собой</h2></span>
        <input type="checkbox" name="checks[]" id="Паспорт и флюрографию" value="Паспорт и флюрографию"><label for="Паспорт и флюрографию"></label><p>Паспорт и флюрографию</p>
        <input type="checkbox" name="checks[]" id="Результаты анализов: кровь, ВИЧ, сифилис, гепатит" value="Результаты анализов: кровь, ВИЧ, сифилис, гепатит"><label for="Результаты анализов: кровь, ВИЧ, сифилис, гепатит"></label><p>Результаты анализов: кровь, ВИЧ, сифилис, гепатит</p>
        <input type="checkbox" name="checks[]" id="Все указанное выше" value="Все указанное выше"><label for="Все указанное выше"></label><p>Все указанное выше</p>
        <input type="checkbox" name="checks[]" id="Еще бубен для лёгких родов" value="Еще бубен для лёгких родов"><label for="Еще бубен для лёгких родов"></label><p>Еще бубен для лёгких родов</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Сколько часов в норме должен спать 3-месячный ребенок в сутки?</h2></span>
        <input type="checkbox" name="checks[]" id="6-8" value="6-8"><label for="6-8"></label><p>6-8</p>
        <input type="checkbox" name="checks[]" id="10-12" value="10-12"><label for="10-12"></label><p>10-12</p>
        <input type="checkbox" name="checks[]" id="14-16" value="14-16"><label for="14-16"></label><p>14-16</p>
        <input type="checkbox" name="checks[]" id="20-22" value="20-22"><label for="20-22"></label><p>20-22</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Что такое резус конфликт?</h2></span>
        <input type="checkbox" name="checks[]" id="У отца положительный, у мамы отрицательный" value="У отца положительный, у мамы отрицательный"><label for="У отца положительный, у мамы отрицательный"></label><p>У отца положительный, у мамы отрицательный</p>
        <input type="checkbox" name="checks[]" id="У отца отрицательный, у мамы положительный" value="У отца отрицательный, у мамы положительный"><label for="У отца отрицательный, у мамы положительный"></label><p>У отца отрицательный, у мамы положительный</p>
        <input type="checkbox" name="checks[]" id="У отца положительный, у мамы положительный" value="У отца положительный, у мамы положительный"><label for="У отца положительный, у мамы положительный"></label><p>У отца положительный, у мамы положительный</p>
        <input type="checkbox" name="checks[]" id="У отца отрицательный, у мамы отрицательный" value="У отца отрицательный, у мамы отрицательный"><label for="У отца отрицательный, у мамы отрицательный"></label><p>У отца отрицательный, у мамы отрицательный</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Сколько в норме должен быть набор веса при беременности?</h2></span>
        <input type="checkbox" name="checks[]" id="8-10 кг" value="8-10 кг"><label for="8-10 кг"></label><p>8-10 кг</p>
        <input type="checkbox" name="checks[]" id="11–16 кг" value="11–16 кг"><label for="11–16 кг"></label><p>11–16 кг</p>
        <input type="checkbox" name="checks[]" id="5–9 кг" value="5–9 кг"><label for="5–9 кг"></label><p>5–9 кг</p>
        <input type="checkbox" name="checks[]" id="3-6 кг" value="3-6 кг"><label for="3-6 кг"></label><p>3-6 кг</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как часто прикладывать ребенка к груди?</h2></span>
        <input type="checkbox" name="checks[]" id="Каждые 3 часа" value="Каждые 3 часа"><label for="Каждые 3 часа"></label><p>Каждые 3 часа</p>
        <input type="checkbox" name="checks[]" id="По потребности ребенка" value="По потребности ребенка"><label for="По потребности ребенка"></label><p>По потребности ребенка</p>
        <input type="checkbox" name="checks[]" id="По потребности матери" value="По потребности матери"><label for="По потребности матери"></label><p>По потребности матери</p>
        <input type="checkbox" name="checks[]" id="Каждые 6 часов" value="Каждые 6 часов"><label for="Каждые 6 часов"></label><p>Каждые 6 часов</p>
    </div>
</div>





















    <div class="question">
        <span class="question-marker"><h2>Как правильно рожать?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 5" value="Не знаю 5"><label for="Не знаю 5"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 5" 2 value="Немного знаю 5"><label for="Немного знаю 5"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 5" value="Хорошо знаю 5"><label for="Хорошо знаю 5"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 5" value="Отлично знаю 5"><label for="Отлично знаю 5"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как избежать послеродовых осложнений?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 6" value="Не знаю 6"><label for="Не знаю 6"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 6" 2 value="Немного знаю 6"><label for="Немного знаю 6"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 6" value="Хорошо знаю 6"><label for="Хорошо знаю 6"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 6" value="Отлично знаю 6"><label for="Отлично знаю 6"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>С чего начинать грудное вскармливание ребёнка?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 7" value="Не знаю 7"><label for="Не знаю 7"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 7" 2 value="Немного знаю 7"><label for="Немного знаю 7"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 7" value="Хорошо знаю 7"><label for="Хорошо знаю 7"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 7" value="Отлично знаю 7"><label for="Отлично знаю 7"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Какие факторы окружающей среды могут способствовать возникновению аллергии у ребёнка?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 8" value="Не знаю 8"><label for="Не знаю 8"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 8" 2 value="Немного знаю 8"><label for="Немного знаю 8"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 8" value="Хорошо знаю 8"><label for="Хорошо знаю 8"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 8" value="Отлично знаю 8"><label for="Отлично знаю 8"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Какие выплаты и в каком размере вам полагаются от государства?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 9" value="Не знаю 9"><label for="Не знаю 9"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 9" 2 value="Немного знаю 9"><label for="Немного знаю 9"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 9" value="Хорошо знаю 9"><label for="Хорошо знаю 9"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 9" value="Отлично знаю 9"><label for="Отлично знаю 9"></label><p>Отлично знаю</p>
    </div>

       <div class="question">
        <span class="question-marker"><h2>Как ухаживать за новорожденным?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 14" value="Не знаю 14"><label for="Не знаю 14"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 14" 2 value="Немного знаю 14"><label for="Немного знаю 14"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 14" value="Хорошо знаю 14"><label for="Хорошо знаю 14"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 14" value="Отлично знаю 14"><label for="Отлично знаю 14"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как пережить кризис 1 года?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 15" value="Не знаю 15"><label for="Не знаю 15"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 15" 2 value="Немного знаю 15"><label for="Немного знаю 15"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 15" value="Хорошо знаю 15"><label for="Хорошо знаю 15"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Отлично знаю 15" value="Отлично знаю 15"><label for="Отлично знаю 15"></label><p>Отлично знаю</p>
    </div>

    <div class="question">
        <span class="question-marker"><h2>Как получить ответы на эти и другие вопросы не выходя из дома?</h2></span>
        <input type="checkbox" name="checks[]" id="Не знаю 17" value="Не знаю 17"><label for="Не знаю 17"></label><p>Не знаю</p>
        <input type="checkbox" name="checks[]" id="Немного знаю 17" 2 value="Немного знаю 17"><label for="Немного знаю 17"></label><p>Немного знаю</p>
        <input type="checkbox" name="checks[]" id="Хорошо знаю 17" value="Хорошо знаю 17"><label for="Хорошо знаю 17"></label><p>Хорошо знаю</p>
        <input type="checkbox" name="checks[]" id="Онлайн - школа mamapapas.club - успейте купить курс со скидкой 17" value="Онлайн - школа mamapapas.club - успейте купить курс со скидкой 17"><label for="Онлайн - школа mamapapas.club - успейте купить курс со скидкой 17"></label><p>Онлайн - школа mamapapas.club - успейте купить курс со скидкой</p>
    </div>

</div>