<!DOCTYPE html>
<html lang="ru">
<body>

<table style="border-left: 50px solid #F7ABB0; border-right: 50px solid #3CD2E0; margin: 0 auto;">
    <tr>
        <td>
            <p style="text-align: center;"><img src="https://mamapapas.club/static/img/logo2.png" style="display: block; margin: 0 auto; height: 100px;"></p>
            <h2 style="text-align: center; font-size: 26px; color: #F7ABB0">Сертификат</h2>
            <p style="text-align: center; color: #222831; font-size: 17px;">Подтверждает, что Вы,</p>
            <h1 style="text-align: center; font-size: 36px; color: #F7ABB0">{{ first_name }}</h1>
            <p style="text-align: center; color: #222831; font-size: 17px;">Успешно прошли онлайн-школу для беременных mamapapas.club</p>
            <p style="text-align: center; color: #222831; font-size: 17px;">Курс "Полный"</p>
            <table style="margin: 0 auto" cellpadding="10px">
                <tr>
                    <td>
                        <h2 style="text-align: center; font-size: 22px; color: #222831;">АМШИНСКАЯ МОНИКА РАФАЭЛЕВНА</h2>
                        <p style="color: #222831;">Основательница школы для беременных mamapapas.club</p>
                    </td>
                    <td>
                        <h2 style="text-align: center; font-size: 22px; color: #222831;">КОМАНДА СПЕЦИАЛИСТОВ</h2>
                        <p><span><br></span></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>  

</body>
</html>