<!DOCTYPE html>
<html lang="ru">
<body>

<h1 style="text-align: center; font-size: 30px;"><i>Mamapapa's club</i></h1>
<p style="text-align: center; font-size: 16px;"><small><i>Онлайн-курсы для беременных</i></small></p>
<p style="text-align: center;"><img src="https://mamapapas.club/static/img/email_main.jpg" style="display: block; margin: 0 auto; height: 350px;"></p>
<p style="text-align: center; font-size: 16px;">Здравствуйте, {{ first_name }}!</p>
<p style="text-align: center; font-size: 16px;">
    Онлайн-школа для беременных поздравляет Вас с наступлением прекрасного периода и желает лёгких родов. 
</p>
<p style="text-align: center; font-size: 16px;">
    Цель <a href="mamapapas.club">mamapapas.club</a> максимально помочь пройти этот волнительный этап. 
    Команда наших профессионалов знает все проблемы беременных, о которых расскажет в онлайн-курсах.  
    Получить консультацию акушер-гинеколога, перинатального психолога, специалиста по грудному вскармливанию и эксперта по грудному вскармливанию из 
    Израиля Вы можете на курсах <a href="mamapapas.club">mamapapas.club</a>.
</p>
<p style="text-align: center; font-size: 16px;"><a href="mamapapas.club" style="display: block; background-color: lightblue; width: 300px; border-radius: 5px; height: 35px; font-size: 22px; margin: 0 auto">Узнать подробнее!</a></p>
<p style="text-align: center; font-size: 16px;"><small>Бесплатный урок</small></p>
<p style="text-align: center; font-size: 16px;">
    Мы знаем, что нужно ответственно готовиться к родам, поэтому предлагаем получить бесплатно первый урок, где 
    Вы сможете оценить компетентность наших профессионалов и познакомиться с ними.
</p>
<p style="text-align: center; font-size: 16px;"><a href="mamapapas.club/demo/1/" style="display: block; background-color: lightblue; width: 300px; border-radius: 5px; height: 35px; font-size: 22px; margin: 0 auto">Попробовать бесплатно!</a></p>
<p style="text-align: center; font-size: 16px;">https://mamapapas.club/demo/1/</p>
<p style="text-align: center;"><small>Если кнопка не работает, скопируйте и вставьте вышеуказанный текст в адресную строку вашего браузера</small></p>
<p style="text-align: center; font-size: 16px;">
    <small><i>Вы получили это письмо, так как оставляли заявку</i></small>
    <br>8 (800) 511 76-99
</p>

</body>
</html>
