{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}

<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="account-main grid">
    <form class="account-window grid" action="." method="post">{% csrf_token %}
            <p style="margin-bottom: 10px; text-align: center;">Вы уверены, что хотите выйти?</p>
        {{ form|crispy }}
        <button class="button-main">Выход</button>
    </form>
</div>
{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>