{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}

<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="account-main grid">
    <div class="account-window grid" action="." method="post">{% csrf_token %}
        <p style="text-align: center;">Пароль успешно изменен</p>
        <small><a href="/account/login">Войти на сайт</a></small>
    </div>
</div>
{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>