{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}

<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="account-main grid">
    {% if token_fail %}
    <form class="account-window grid" action="/account/password/reset" method="get">{% csrf_token %}
        <p style="margin-bottom: 20px;">Неправильная ссылка. Возможно, она уже была использована.</p>
        <button class="button-main">Вход</button>
    </form>
    {% else %}
    {% if form %}
    <form class="account-window grid" action="." method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="button-main">Сменить пароль</button>
    </form>
    {% else %}
    <div class="account-window grid">
        <p style="text-align: center;">Пароль успешно изменен</p>
        <small><a href="/account/login">Войти на сайт</a></small>
    </div>
    {% endif %}
{% endif %}
</div>
{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>