{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}

<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="account-main grid">
    <form class="account-window grid" action="." method="post">{% csrf_token %}
        <p style="margin-bottom: 10px;">Забыли пароль? Укажите в окошке e-mail, привязанный к профилю, и мы Вам отправим ссылку для сброса</p>
        {{ form|crispy }}
        <button class="button-main">Сброс</button>
        {% if user.is_authenticated %}
        {% else %}
        <small>Нет аккаунта? <a href="/account/signup">Зарегистрируйтесь</a></small>
        <small>Вспомнили пароль? <a href="/account/login">Войдите</a></small>
        {% endif %}
    </form>
</div>
{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>