{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}

<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="account-main grid">
    <div class="account-window grid">
        {% if user.is_authenticated %}
            <p>Вы уже выполнили вход</p>
            <small><a href="/courses">Перейти к курсам</a></small>
        {% else %}
            <p style="text-align: center;">Извините, регистрация временно недоступна</p>
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>