{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}

<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="account-main grid">
    <form class="account-window grid" action="." method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="button-main">Регистрация</button>
        <small>Уже есть аккаунт? <a href="/account/login">Войдите</a></small>
        <small><p>*Введите номер телефона, начиная с +7</p></small>
        <small><p>*Регистрация необходима для покупки курсов</p></small>
    </form>
</div>
{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>