{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}

<body class="account-bg">

{% include 'menu-mobile.html' %}

{% include 'menu-main.html' %}

<div class="account-main grid">
    <div class="account-window grid">
        <p>Для того, чтобы пользоваться сайтом, необходимо подтвердить email. Для этого перейдите по ссылке, которую мы отправили по указанному Вами email-адресу</p>
    </div>
</div>
{% include 'footer.html' %}
<!-- popup -->
{% include 'popup.html' %}
{% include 'emptytutors.html' %}

</body>
</html>