{% include 'head.html' %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
<div class="container">
    <h2>{{ text }}</h2>
</div>


<footer id="getContacts">
  <div class="footerContent grid">
    <div class="footerContacts">
      <p class="text-center">+7 (800) 511 76-99</p>
      <p class="text-center">info@mamapapas.club</p>
    </div>
    <p class="text-center">MamaPapas.club © Заботимся о будущих малышах с 2018 года</p>
    <div class="footerSocialMedia">
      <a href="https://www.instagram.com/mamapapas_club/"><img src="{% static 'img/icons/instagram.svg' %}" alt=""></a>
    </div>
  </div>

</footer>
</body>
</html>